## Heap Sort

## Lists in Python

***

In [1]:
L = [1,2,3,"Hello, world!", None, True]
# List can be anything

In [2]:
L[3]

'Hello, world!'

In [3]:
# create lists with the list() function
list({1,2,3,3})
# this is set doesnt care about repeating numbers

[1, 2, 3]

In [4]:
# using negative indexes
L[-1]
# brings back the end of the list

True

In [5]:
L[-3]
# goes backwards on list

'Hello, world!'

In [6]:
# in-built functions for creating iterables
list(range(0,20,2)) #starts at 0 ends at 20 goes up by 2's

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
L = list(range(20))
L                    # presumes starts at 0 and goes up in 1's, the just L prints

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
#List slicing
L[1:10:2]  # starts at 1, slices out every 2nd num until it reaches or goes over 10

[1, 3, 5, 7, 9]

In [9]:
# list slicing
L[5:10] # starts at 5 ends at 10

[5, 6, 7, 8, 9]

In [10]:
L[5:] # starts at 5 and ends at the list length wihich 20 as seen in above

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
L[:5] # goes backwards to the begining of the list

[0, 1, 2, 3, 4]

In [12]:
# the list goes around to wrap back on itself
L[1:]+ L[:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0]

In [13]:
i = 5
L[i:] + L[:i] # loops around

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4]

In [14]:
#Tuples -- cant change the list
T = (1,2,3,4)

In [15]:
T[0]

1

In [16]:
T[2:] # can slice

(3, 4)

In [17]:
# casnt assign - would give an error
#T[2] = 100 example

In [18]:
#Tuples are created with commas
T = 1,2,3,4
T

(1, 2, 3, 4)

In [19]:
#you can use tuples for assignment
a,b = 3,4

In [20]:
a

3

In [21]:
b

4

In [22]:
# you can swap the them
a,b = b,a

In [23]:
a

4

In [24]:
b

3

In [25]:
#new list of ints
List = list(range(10))
List

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
#List comprehension, going to cube every int on list
[i**3 for i in List]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [27]:
[i**3 for i in List if i %2 ==0]

[0, 8, 64, 216, 512]

In [28]:
List[::-1] # reverses the list

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

<br>

## Bubble Sort

In [29]:
# import a module from the standard libarary
import random

In [30]:
# list of ints
List = list(range(1,11)) #1-10
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
random.shuffle(List) # shuffle the 1-10 list

In [32]:
List # list shuffled

[1, 3, 6, 4, 9, 8, 7, 5, 10, 2]

In [33]:
# Bubble sort.

# Keep track of number of comparisons.
no_comparisons = 0

# Bubble every (biggest) element up.
for j in range(len(List) - 1):
    # Keep track of any swaps.
    swapped = False
    # Compare all elements that are side by side.
    for i in range(len(List) - 1):
        # Compare the ith element with the (i+1)th.
        if List[i] > List[i+1]:
            # Swap the elements.
            List[i], List[i+1] = List[i+1], List[i]
            # Keep track of the swap.
            swapped = True
        # Add a comparison.
        no_comparisons = no_comparisons + 1
    # Quit if we didn't make any swaps.
    if not swapped:
        break

In [34]:
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
no_comparisons

81

In [36]:
# Bubble sort as a function.
def bubble_sort(L):
    # Keep track of number of comparisons.
    no_comparisons = 0

    # Bubble every (biggest) element up.
    for j in range(len(L) - 1):
        # Keep track of any swaps.
        swapped = False
        # Compare all elements that are side by side.
        for i in range(len(L) - 1 - j): # -j stops you comparing the last one index[-1] which is nothing with index[0]
            # Compare the ith element with the (i+1)th.
            if L[i] > L[i+1]:
                # Swap the elements.
                L[i], L[i+1] = L[i+1], L[i]
                # Keep track of the swap.
                swapped = True
            # Add a comparison.
            no_comparisons = no_comparisons + 1
        # Quit if we didn't make any swaps.
        if not swapped:
            break
    # Return the number of comparisons made.
    return no_comparisons

In [37]:
L = list(range(1, 11))

# Shuffle it.
random.shuffle(L)

# Look at it.
L

[4, 10, 6, 7, 5, 3, 9, 2, 8, 1]

In [38]:
bubble_sort(L)

45

In [39]:
L # sorted list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
bubble_sort(L) # once sorted bubble sor is O(n)

9

In [41]:
# worst case sceniro of how many iterations is a reversed list because each 
# number is the furthest away from where their right place is at the get go

L[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
# putting a reversed array into the bubble sort 0(n^2)

bubble_sort(L[::-1])

45